header{background-color: #3E6A58;
padding-bottom: 1rem;
padding-left: .5rem;
padding-right: .5rem;
align-items: center;}
nav>a{background-color: white;
color: #3E6A58;
padding: .5rem;}
nav>a:hover{background-color: #3E6A58;
color: white;}
#ourstory{background-color: #3E6A58;
padding: .5rem;
color: white;
}
body{font-family: Georgia, 'Times New Roman', Times, serif;
}
#menu{background-color: #3E6A58;
color: white;
padding: .5rem;
background-image: url(images/opaquemenu.svg);
background-size: cover;
background-repeat: no-repeat;}
.whiteborder{color: white;}
.flex-container{display: flex;
justify-content: space-around;}
#drinks{background-image: url(images/opaquedrinks.svg);
background-size: cover;
background-repeat: no-repeat;
margin-bottom: 4rem;
margin-top: 10rem;}
#ourstory{background-image: url(images/contactopaque.png);
background-size: 55rem;
background-repeat: no-repeat;}
nav{border: 5px solid white;
padding: 3px;}
.ourstory{border-top: 5px solid white;
    border-bottom: 5px solid white;
}
h2{font-size:xx-large;}
.ourstory{font-style: oblique;}
.drinks{border-top: 5px solid white;}





